/* In App.css or index.css */
@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
/* In App.css or your preferred CSS file */
.city-card {
  position: absolute;
  top: 0;
  right: 0;
  width: 18rem;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Initially off-screen */
}

.city-card.show {
  transform: translateX(0); /* Slide in */
}
